<!-- <section>
  <h2>Completed Tasks</h2>
  <ol>
    <% tasks.each do |task| %>
      <li>
        <% if task.status == true %>
          <p>
          </p>
        <% end %>
      </li>
    <% end %>
  </ol>
</section>

<%= render partial: 'nav' %> -->
