<!-- Update/Edit Task Page -->
<h2>Just in case you changed your mind...</h2>

<%= render partial: "form", locals: {the_task: @task} %>

<!-- Home Link -->
<%= link_to "Home", tasks_path %>

<!-- Footer -->
<footer>
  <div class="footer">
    <p id="copyright">
      &copy; 2017 - Stefanie Gunderson, keeping it simple.
    </p>
  </div>
