<header class = "boxed">
  <h1 class = "colors">Edit <%= @task.name%></h1>
</header>


<main>
  <aside class = "nav_buttons">
    <%= render partial: "nav_buttons" %>
  </aside>
  <section class="main_content">
    <%= render partial: "form"%>
  </section>
</main>
