<%= render partial: "form", locals: {button_text: "Edit My Task"} %>






<!-- Regular HTML form, rarely used with rails and it is good to know.  -->

<!-- <form action = "/tasks" method = "get" accept-charset="utf-8">

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="title">
    Title
  </label>
  <input type="text" name="title" value="Task.find(params[:id])">

</form> -->
