
<article>

<h1 class="increase-font">&#10004; TO DO:</h1>
<ul class="no-bullet">
<% @tasks.each do |task| %>
<li>

<article id="task-wrapper">
  <header>
    <h2>
      <%= link_to task.title, show_task_path(task.id), class: "no-underline visited-links" %>
    </h2>
  </header>

  <nav id="task-links">
    <ul class="no-bullet">
      <li><a href="#" class="no-underline hover-green visited-links">Mark Complete</a></li>
      <li><a href="#" class="no-underline hover-blue visited-links">Edit</a></li>
      <li><a href="#" class="no-underline hover-red visited-links">Delete</a></li>
    </ul>
  </nav>

</article>
</li>

<% end %>

</article>
