
<article>

<h1 class="increase-font">&#10004; TO DO:</h1>
<ul class="no-bullet">
<% @tasks.each do |task| %>
<li>

<article id="task-wrapper">
  <header>
    <h2><%= task.title %></h2>
    <h3>DATE DUE: <%= task.due_date %></h3>
    <h3>COMPLETE?
      <% if task.status == false %>
          NO!
      <% else %>
          HOORAY FOR BEING ONE STEP CLOSER TO YOUR GOALS!
      <% end %>
    </h3>
  </header>

  <section>
    <p>
      <%= task.description %>
    </p>
  </section>

  <nav id="task-links">
    <ul class="no-bullet">
      <li><a href="#">MARK COMPLETE</a></li>
      <li><a href="#">EDIT</a></li>
      <li><a href="#">DELETE</a></li>
    </ul>
  </nav>

</article>
</li>

<% end %>

</article>
