
<div class="tasklist">


  <h2>Your Tasks</h2>

  <ol>
    <% @tasks.each do |task| %>
    <li>
      <%= link_to(task.name, task_path(task.id)) %>
      <%=button_to "Edit", edit_task_path(task.id), method: :get%>
      <%= link_to "Delete", delete_task_path(task.id) %>
      <p> Mark Complete | Delete</p>
      </li>
      <% end %>
    </ol>

  </div>
