
<%# params %>

<h2>Your Tasks</h2>

<ol>
  <% @tasks.each do |task|%>
  <li>
    <%= task.title %>
    <%= link_to "Edit", edit_path(task[:id]) %> <%# Re <from>: task[:id] worked and task.id and task(id) did not work.%>
    <%= link_to "Show", task_path(task.id) %>
  </li>
  <% end %>
</ol>
