<h1>Tasklist</h1>
<h3>  <%= button_to "Add Task", new_task_path(@task) %>
<%= button_to "All Tasks", tasks_path(@task) %>
</h3>
<div class=task_block>
<h2>
  Your Tasks:
</h2>
<ol>
<% @tasks.each do |task| %>
  <li>
    <strong>
      <%= link_to(task[:task_name], task_path(task[:id]), alt: 'link to', class:"task_list" ) %>
    </strong>
  </li>
<% end %>
</ol>
</div>
