<header>
  <h1>Taskmaster 4000</h1>
</header>

<main>
  <div class="menu">
    <nav>
      <h2>Menu</h2>
      <ul>
        <li>
          <a href=""><button><h3>Add Task</h3></button></a>
        </li>
        <li>
          <a href=""><button><h3>All Tasks</h3></button></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="tasks">
    <h2>Your Tasks</h2>
    <ul>
      <% @tasks.each_with_index do |task, i| %>
      <li class="task">
        <p>
          <strong><%= i + 1 %>. <%= task[:task] %></strong><br />
          <nav class="task-options">
            <ul>
              <li>
                <a href="">Mark Complete</a> |
              </li>
              <li>
                <a href="">Edit</a> |
              </li>
              <li>
                <a href="">Delete</a>
              </li>
            </ul>
          </nav>
        </p>
      </li>
      <% end %>
    </ul>
  </div>
</main>
<footer>
  &copy; 2017
</footer>
