<h3>Tasks</h3>
  <!-- <p>Tasks coming soon..</p>  -->

  <%= @tasks.each do |task| %>
      <div class="task">
        <strong>
          <%= link_to task.title, task_path(task.id) %>
        </strong>
      </div>
  <% end %>

  <p>
    <%= link_to "Add a New Task", tasks_new_path %>
  </p>
