<h2>Tasks</h2>
<section>
  <h3><%= @all_tasks[0] %></h3>
  <p>
    "I dont want to do the dishes"
  </p>
</section>

<section>
  <h3><%= @all_tasks[1] %></h3>
  <p>
    "I don't want ot the the laundry"
  </p>
</section>

<section>
  <h3><%= @all_tasks[2] %></h3>
  <p>
    "Studying all day long!"
  </p>
</section>
