<article class="index">
  <h2>YOUR TASKS</h2>
  <div id="list_view">
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <strong><%= link_to(task.name, task_path(task.id), alt: 'link to task.name task') %></strong>
          <%= render partial: "task_tools", locals: {task: task}%>
      </li>
    <% end %>
  </ol>
</div>
</article>
