<h1>Tasklist</h1>

<button type="button" name="add-task">Add Task</button>
<button type="button" name="all-task">All Task</button>

<h2>Your Tasks</h2>

<ol>
  <li>Task One</li>
    <ul>
      <li>Mark Complete</li>
      <li>Edit</li>
      <li>Delete</li>
    </ul>
  <li>Task Two</li>
  <ul>
    <li>Mark Complete</li>
    <li>Edit</li>
    <li>Delete</li>
  </ul>
  <li>Task Three</li>
  <ul>
    <li>Mark Complete</li>
    <li>Edit</li>
    <li>Delete</li>
  </ul>
  <li>Task Four</li>
  <ul>
    <li>Mark Complete</li>
    <li>Edit</li>
    <li>Delete</li>
  </ul>
</ol>

<footer>
  &copy; 2017
</footer>
