

<section class="wrapper">
  <div class="leftline">
    <h1> TASKLIST</h1>
    <h3>Add task <%= link_to task.title, task_path(task.id)%> </h3>
    <h3>All tasks</h3>
  </div>
  <div class="box">
    <h1>My tasks</h1>
    <ol>
      <% @tasks.each do |task| %>
        <li>
          <p><%= link_to task.title, task_path(task.id)%></p>
        </li>
      <% end %>
    </ol>
  </div>
</section>
