<main>
      <div>
      <h2>List of activities</h2>
      <p>
        <%= link_to "Add task", new_task_path, class: "navigation"%>
      </p>
      <ul>
      <% @tasks.each do |task|  %>
        <h2>
            <%=link_to task.title, task_path(task.id)%>
        </h2>
        <li>
          <%=link_to "Delete " + task.title, task_path(task.id), method: :delete,
          data: {confirm: 'Are you sure?'} %>
        </li>

        <li>
          <%=link_to "Complete " + task.title, task_complete_path(task.id), method: :patch%>
        </li>
      <%end%>
    </ul>


  </div>
</main>
