<body>
  <div class="to_do_list">
    <h2>To Do:</h2>
    <ul>
      <% @tasks.each do |task| %>
      <li>
        <input type="checkbox" unchecked value = "complete" /> <%= link_to(task.name, task_path(task.id)) %>
        <!-- <p>
          Description: <%=task.description%>
        </p> -->
      </li>
      <%end%>
    </ul>
  </div>
</body>
