<article class="index">
  <h2>YOUR TASKS</h2>
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <strong><%= link_to(task.name, task_path(task.id), alt: 'link to task.name task') %></strong>
        <nav>
          <a href= >Mark Complete</a> |
          <a href= >Edit</a> |
          <a href= >Delete</a>
        </nav>
      </li>
    <% end %>
  </ol>
</article>
