<article class="index">
  <h2>YOUR TASKS</h2>
  <div id="list_view">
  <ol>
    <% @tasks.each do |task| %>
      <li>
          <%= render partial: "task_tools", locals: {task: task}%>
      </li>
    <% end %>
  </ol>
</div>
</article>
