<h2>&#10004; TO DO:</h2>
<ul>
  <li>
    <header>
      <h3><%= @tasks[0] %></h3>
      <h4>Due: Today</h4>
      <h4>STATUS: NOT COMPLETE</h4>
    </header>
    <section>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
      </p>
    </section>
  </li>

  <li>
    <header>
      <h3><%= @tasks[1] %></h3>
      <h4>Due: Today</h4>
      <h4>STATUS: NOT COMPLETE</h4>
    </header>
    <section>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
      </p>
    </section>
  </li>

  <li>
    <header>
      <h3><%= @tasks[2] %></h3>
      <h4>Due: Today</h4>
      <h4>STATUS: NOT COMPLETE</h4>
    </header>
    <section>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
      </p>
    </section>
  </li>
</ul>
