<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<p>
  <%= "These are the breaks" %>
</p>

<p>
  <%= link_to "Show Task 1", show_path(1) %>
</p>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= "#{task[:title]}: #{task[:description]}   due date: #{task[:date]}" %>
  </li>
  <% end %>
</ul>
