<section>
  <h2>Tasks</h2>
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <p>
          <strong>
            <%= link_to task.task, task_path(task.id) %>
          </strong>
        </p>
        <%= link_to 'Edit', edit_task_path(task) %> |
        <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: "This cannot be reversed. Are you sure you want to delete?" } %>
      </li>
    <% end %>
  </ol>
</section>

<%= render partial: 'nav' %>
