
<div class="tasklist">


<h2>Your Tasks</h2>

<ol>
  <% @tasks.each do |task| %>
    <li>
      <!-- <%= task[:name] %> -->
      <%= link_to(task.name, task_path(task.id)) %>
      <!-- due: <%= task[:due_date] %> -->
      <p> Mark Complete | Edit | Delete</p>
    </li>
    <% end %>
</ol>

</div>
