
<button type="button" name="add-task">Add Task</button>
<button type="button" name="all-task">All Task</button>

<h2>Your Tasks</h2>

<!-- <ol>
  <li>Task One</li>
    <ul>
      <li>Mark Complete</li>
      <li>Edit</li>
      <li>Delete</li>
    </ul>
  <li>Task Two</li>
  <ul>
    <li>Mark Complete</li>
    <li>Edit</li>
    <li>Delete</li>
  </ul>
  <li>Task Three</li>
  <ul>
    <li>Mark Complete</li>
    <li>Edit</li>
    <li>Delete</li>
  </ul>
  <li>Task Four</li>
  <ul>
    <li>Mark Complete</li>
    <li>Edit</li>
    <li>Delete</li>
  </ul>
</ol> -->

<ul>
  <% @tasks.each do |task| %>
    <li>
      <strong><%= task[:name] %></strong>
      description: <em><%= task[:description] %></em>
      completion_date: <em><%= task[:completion_date] %></em>
      <%# This is a comment %>
    </li>
  <% end %>
</ul>

<footer>
  &copy; 2017
</footer>
