<main>
      <div>
      <h2>List of activities</h2>
      <p>
        <%= link_to "Add task", new_task_path, class: "navigation"%>
      </p>
      <ul>
      <% @tasks.each do |current_task|  %>
        <li>
          <h3>

        <%=link_to current_task.title, task_path(current_task.id)%>
          </h3>

      </li>
      <%end%>
    </ul>


  </div>
</main>
