<h2>To Do List</h2>
<p>
  <ol>
    <% @tasks.order(date: :asc).each do |task| %>
    <li class = "task">
      <% if task.status == true %>
      <strong class = "status_complete">
        <% else %>
        <strong>
          <% end %>
      <%= link_to task.title, task_path(task.id)%> </strong> Due: <%= task[:date] %>
    </li>
    <% end %>
  </ol>

</p>
