<h1>Tasklist</h1>

<div class=task_block>
<h2>
  Your Tasks:
</h2>
<p>
  <%= link_to "Add Task", new_task_path(@task) %>
</p>
<ol>
<% @tasks.each do |task| %>
  <li>
    <strong>
      <%= link_to(task.name[task.name], task_path(task.id), alt: 'link to', class:"task_list" ) %>
    </strong>
  </li>
<% end %>
</ol>
</div>
