<h1 class="index">TASKLIST</h1>
<aside class = "nav_buttons">
  <article>
    <%= link_to("Add Task", new_task_path) %>
  </article>
  <article>
    All Tasks
  </article>
</aside>
<section class="task_list">
  <h2>YOUR TASKS</h2>
  <ol>
    <% @tasks.each do |task| %>
    <li>
      <%= link_to(task.name, task_path(task.id)) %>
      <p>
      Mark Complete |
      <%= link_to("Edit", edit_task_path(:id)) %> | Delete
      </p>
    </li>
    <% end %>
  </ol>
</section>
<footer>
  <h4>copywrite 2017</h4>
</footer>
