<article class="index">
  <h2>YOUR TASKS</h2>
  <div id="list_view">
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <strong><%= link_to(task.name, task_path(task.id), alt: 'link to task.name task') %></strong>
        <nav>
          <a href= >Mark Complete</a> |
          <%= link_to('Edit', edit_task_path(task.id), alt: 'link to edit task.name') %> |
          Delete
        </nav>
      </li>
    <% end %>
  </ol>
</div>
</article>
