<h1>List of Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>Task:
    <strong><%= link_to(task.name, task_path(task.id)) %></strong>
  </li>
  <li>Description:
    <strong><%= task.description %></strong>
  </li>
  <% end %>
</ul>
