<div class="tasks container" id="index">
  <h2>Your Tasks</h2>
  <ul>
    <% @tasks.each_with_index do |task, i| %>
    <li class="task">
      <button>
        <p>
          <strong><%= link_to "#{i + 1}. #{task[:task]}", task %></strong>
        </p><br />
        <nav class="task-options">
          <ul>
            <li>
              <%= link_to "Mark Complete", task %> |
            </li>
            <li>
              <%= link_to "Edit", task %> |
            </li>
            <li>
              <%= link_to "Delete", task %>
            </li>
          </ul>
        </nav>
      </button>
    </li>
    <% end %>
  </ul>
</div>
