<h1>Tasks I Probably Won't Do</h1>

<h3>
  <%= "To-Do" %>
</h3>


<ul class="task-data">
  <% @tasks.each_with_index do |task, index| %>
  <li>
    <%= link_to "#{task[:title]}", show_path(index + 1) %>
    <%= link_to 'Edit', edit_task_path(task) %>
  </li>
  <% end %>
</ul>
