<ol>
  <% @tasks.each do |task| %>
    <li>
      <strong><%=task[:title]%></strong>  <strong>Due Date: </strong><%=task[:due_date]%>   <strong>Status: </strong><%=task[:completion_status]%><br/>Mark Complete | Edit | Delete | <%= link_to "Show Task", task_path(task[:id]) %>
    </li>
  <% end%>
</ol>
