
<nav class="nav wrapper">
  <h2> Task List </h2>
    <a href="">Add task</a>
    <a href="">All tasks</a>
  <!-- </section> -->
</nav>

<article class="list-of-tasks wrapper">
  <h3>TO DO :</h3>

  <ol>
    <% @tasks.each do |task| %>
    <li>
      <%= task.name %>
    </li>
    <ul>
      <li class="right-border">
        <%= task.description %>
      </li>
      <li class="right-border">
      </li>
    </ul>
      <% end %>
  </ol>
