<p>
  This is the new page. It is for new things.
</p>

<form action="/tasks" method="post" accept-charset="utf-8">
  <!-- SPECIAL INPUT TO ALLOW RAILS TO USE THIS FORM -->
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">


  <label for="title">Task Name:</label>

  <input type="string" name="title" value="" placeholder="This is where words go" id="title">

  <label for="description">Description:</label>
  <input type="string" name="description" value="" id="description">

  <label for="date">Due Date</label>
  <input type="date" name="date" value="" id="date">

  <input type="submit" value="Press This Button">
</form>
