
<section id="show_container">

  <h1 id="show_header">To Do:</h1>


  <h2> <%= @task.name %> </h3>
    <h4>
      (Description: <%= @task.description %>)
    </h4>
    <h5>
      Sub-Tasks
      <ul>
        <li>
          Initial Commit
        </li>
        <li>
          Final Pull Request
        </li>
      </ul>
    </h5>
  </section>
