<% if !(@task) %>
<h1 class="fourohfour">Task does not exist</h1>
<% else %>
<h1 class= "task_title"><%= @task[:title] %></h1>
<section class ="description">
  <h4>description:</h4>
  <p>
    <%= @task[:description] %>
  </p>
</section>
<% end %>
