<article>

  <header>
    <h1 class="increase-font"><%= @task.title %></h1>
    <h3 class="zero-margin-bottom">Due: <%= @task.due_date %></h3>
    <h3 class="zero-margin-bottom">Complete?
      <% if @task.status == false %>
          NO!!!
      <% else %>
          HOORAY FOR BEING ONE STEP CLOSER TO BEING A HUMAN!!!
      <% end %>
    </h3>
  </header>

  <section>
    <h3 class="zero-margin-bottom">NOTES TO MYSELF:</h3>
    <p class="left-padding">
      <%= @task.description %>
    </p>
  </section>

</article>
