<div class="task container page" id="show">
  <h2 class="task-name"><%= @task.task %></h2>
  <ul>
    <li>
      <h4 class="inline">Due: </h4>
      <p class="inline">
        <%= @task.due_date %>
      </p>
    </li>
    <li>
      <p>
        <%= @task.description %>
      </p>
    </li>
  </ul>
</div>
