<h1>Show Tasks</h1>
<% if @tasks %>

<h1>
<%= @tasks %>
<%= link_to "Edit", edit_task_path(@task) %>
<%= link_to "Delete", delete_task_path(@tasks), method: :delete %>
</h1>

<% else %>
  <h1>404: Not Found</h1>
<% end %>

<%= link_to "Home", tasks_path%>
