/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #EAE1DF;
  color: #456990;
}
main {
  margin: auto;
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid red;
}
h1 {
  float: left;
  width: 35%;
  height: 80vh;
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  text-align: center;
  border: 1px solid black;
}
ul {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5em;
  background: #D5CDCB;
  border-radius: 5%;
  width: 50%;
  height: auto;
  padding-left: 10%;
  padding-bottom: 2%;
  border: 5px solid #028090;
  box-shadow: -2px 2px 2px #114B5F;
}
input {
  display: inline-block;
  float: left;
  font-size: .6em;
  width: auto;
  background: none;
  border: 0;
  outline:none;
  color: #F45B69;
}
.clearfix {
  clear: both;
}
