/* header */
header {
  text-align: center;
  padding: 2% 10% 2%;
}
header h1 {
  margin-left: 20%;
  padding: 2% 2% 1%;
  vertical-align: middle;
  font-family: 'Mr Bedfort', cursive;
  font-size: 4em;
  font-weight: bold;
}

/* footer */
footer {
  padding: 1% 0 3%;
  border-top: 3px solid #666;
  background: #777;
  color: #fefefe;
  text-align: center;
}
