/* header */
header {
  text-align: center;
  padding: 3% 10% 2.5%;
}
header h1 {
  padding: 2% 2% 1.5%;
  vertical-align: middle;
  font-family: 'Mr Bedfort', cursive;
  font-size: 4.5em;
  font-weight: bold;
}

/* footer */
footer {
  padding: 2% 10% 6%;
  border-top: 3px solid #666;
  background: #777;
  color: #fefefe;
  text-align: center;
}
