/* header */
header { text-align: center; padding-bottom: 2%; }
header h1 {
  font-size: 3em;
  font-weight: bold;
}

/* footer */
footer {
  border-top: 3px solid #666;
  background: #777;
  color: #fefefe;
  text-align: center;
}
