/* universal */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
html, body { height: 100%; }
body {
  width: 100%;
  background-color: #B3E6E6;
  background-image: radial-gradient(#cbefef 15%, transparent 16%),
  radial-gradient(#cbefef 15%, transparent 16%);
  background-size:60px 60px;
  background-position: 0 0, 30px 30px;
  color: #333;
  font-family: 'Patrick Hand', cursive;
  font-size: 16px;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover { cursor: pointer; }
h2 {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 2%;
  padding-bottom: 1%;
  border-bottom: 1px solid #f0f0f0;
}

/* main */
main {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  padding: 2% 10% 6%;
}

/* main - task-options*/
aside.task-options {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
aside.task-options div.task-icons {
  display: flex;
  justify-content: center;
  align-content: center;
}
aside.task-options div.task-icons a.button:first-of-type {
  margin-right: 20%;
}
aside.task-options div.task-icons a.button {
  display: inline-block;
  padding-bottom: 5%;
  text-align: center;
}
.fa-circle { color: #62d1d1; }
aside.task-options div.task-icons a.button span:hover i.fa-circle{
  color: #8293c4;
}
aside.task-options figure { margin-top: 5%; }
aside.task-options figure img {
  max-width: 270px;
  border-radius: 50%;
  border: 2px solid #fefefe;
}

/* main - main-list */
section.main-list {
  width: 60%;
  border-top: 5px solid #62d1d1;
  background: #fefefe;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 3% 4% 4%;
}
