// Place all the styles related to the TaskList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// font-family: 'Indie Flower', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Sedgwick Ave', cursive;
// font-family: 'Walter Turncoat', cursive;
// font-family: 'Homemade Apple', cursive;
// font-family: 'Waiting for the Sunrise', cursive;

// APPLICATION.HTML.ERB

html {
  background-image: url(banana-slices.jpg);
  background-repeat: repeat;
  font-family: 'Homemade Apple', cursive;
  // padding-left: 15px;
  // padding-right: 15px;
}

h1 {
  padding-left: 15px;
}

.top-menu {
  list-style: none;
}

// INDEX.HTML.ERB

.task-completion-date {
  display: block;
}

li {
  line-height: 2;
}

// .all-content-container {
//   width = 100%;
// }

.tasks-container {
  display: block;
  // border: 5px dotted purple;
  background-color: rgba(255,255,255,0.7);
  width: 600px;
  margin: auto;
  border: 10px solid rgba(255,255,255,0.7);
}

.task-actions {
  font-size: .8em;
}

.your-tasks {

}

.list-container {

}

.each-task {

}

.task-actions {
  padding-bottom: 10px;
}

.counter {
  display: none;
}

.strike-through {
  text-decoration: line-through;
  display: inline-block;
}

.completion-date {
  display: inline-block;
}

// APPLICATION.HTML

.menu-container {
  display: block;
  background-color: rgba(255,255,255,0.7);
  margin: auto;
}

// SHOW.HTML.ERB

.show-info {
  list-style: none;
}

.show-info li {
  // padding: 0;
  // margin: 0;
}

// NEW.HTML

.row1 {
  // display: flex;
}

// .row2 {
//   display: flex;
// }

.form-page {
  margin-left: 12px;
}

.form-header {
  margin-bottom: 5px;
}
