// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: space-around;
}


ol li p {
  margin: 0;
  padding: .5em;
}

ol li {
  margin: .5em;
}
#description {
  padding: 0 0 0 1em;
}


.completed_task {
  text-decoration: line-through;
}
