// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.to_do_list, .form, .remove_task, .show_task {
  background-color: white;
  position: relative;
  left: 6vw;
  top: 6vw;
  border: solid;
  border-radius: 2vw;
  padding: 1.5em;
  min-width: 20em;
  display: inline-block;
  max-height: 20em;
  overflow: scroll;
}

.to_do_list h2, h1.view_title {
  font-size: 2em;

}

.to_do_list li {
  font-size: 1.5em;
  padding-bottom: 2vw;
}


.form p {
  font-size: 1.25em;
  width: 100%;
}

input {
  text-align: center;
  width: 90%;
  padding: 1em;
  margin: .5em;
  border-width: .5vw;
  border-color: #ed104b;
}

.submit_container {
  width: 95%;
}

.submit{
  width: 100%;
  padding: 1vw;
  margin-top:  0;
  font-size: 1.5em;
  font-family: 'Shrikhand', cursive;
}

.remove_task a, .show_task a {
  font-size: 1.25em;
  margin-left: 1.5em;
}
