<!DOCTYPE html>
<html>
<head>
  <title>TaskList</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id="grad1">
  <header id ="body-header">
    <h1>Track Your Tasks!</h1>
  </header>

  <main>

    <div id="nav-article-wrapper" class="clearfix">
      <nav id="shift">
        <header>
          <h2>OPTIONS</h2>
        </header>
        <ul id="links-no-bullets">
          <li><a href="#">Add a task</a></li>
          <li><a href="#">All tasks</a></li>
        </ul>
      </nav>

      <div id="article-wrapper">
        <article>
          <%= yield %>
        </article>
      </div>

    </main>
  </div>

  <footer>
    <p>
      &copy; COPYRIGHT 2017
    </p>
  </footer>

</body>
</html>
