<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Task List</h1>
    </header>
    <main>
      <section class="task-options">
        <a class="button" href="/tasks/new">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a class="button" href="/tasks">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-list fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <figure>
          <img src="https://s-media-cache-ak0.pinimg.com/originals/39/39/ea/3939ea41489c4d0168ff2ba5efe48aff.jpg" alt="Motivational animal image by reapersun">
        </figure>
      </section>

      <section class="main-list">
        <%= yield %>
      </section>

    </main>
    <footer>
      <p>Copyright &copy; 2017</p>
    </footer>
  </body>
</html>
