<!DOCTYPE html>
<html>
<head>
  <title>TaskList Home</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>

  <hr /><br />
  <footer>

    ©'17 Kay
  </footer>
</body>
</html>
