<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="flex-container">
      <h1>TASKLIST</h1>
    </header>
    <main>
      <div class="button">
        <p>
          <a href="#">Add Task</a>
        </p>
        <p>
          <a href="#">All Task</a>
        </p>
      </div>
      <div class="your-tasks">
        <h3>YOUR TASKS</h3>
        <%= yield %>
      </div>

    </main>
    <footer>
      <p>
        Copywrite &#169 2017
      </p>
    </footer>
  </body>
</html>
