<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>TASKLIST</h1>
    </header>
    <main>
      <p>
        Add Task
      </p>
      <p>
        All Task
      </p>
      <%= yield %>
    </main>
    <footer>
      <p>
        Copywrite &#169 2017
      </p>
    </footer>
  </body>
</html>
