<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <h3>Welcome to my List of Many Tasks: This is stuff that will be included on ever page because it's in the Header of the LayOut.</h3>
</header>

  <body>
    <%= yield %>
  </body>
</html>
